.container1 {
  padding: 86.5px 24px;
  border-radius: 20px;
  width: 490px;
  margin: auto;
  padding-bottom: 295px;
}

.container1 h1 {
  color: #364547;
  margin-left: 72px;
  margin-bottom: 0.5em;
  font-family: sans-serif;
}

.container1 .box {
  width: 100%;
  display: flex;
}

.box div {
  width: 100%;
}

.currency {
  width: 95%;
  height: 40px;
  font-size: 1.2em;
  cursor: pointer;
  background: #66ffcc;
  outline: none;
  color: black;
  margin: 0.2em 0;
  padding: 0 1em;
  border-radius: 10px;
  border: none;
}

#ans {
  width: 95%;
  height: 40px;
  font-size: 1em;
  margin: 0.2em 0;
  border-radius: 10px;
  border: none;
  background: #cccccc;
  outline: none;
  padding: 0 1em;
}

#num {
  width: 95%;
  height: 40px;
  font-size: 1em;
  margin: 0.2em 0;
  border-radius: 10px;
  border: none;
  background: #cccccc;
  outline: none;
  padding: 0 1em;
}
